[Desktop Entry]
Type=Application
Name=MdsScope
Comment=Plot MDSplus signal data
Exec=MdsScope
Icon=mdsscope
Terminal=false
Categories=Science;DataVisualization;Qt;
